@use '../../../styles/global';

.login {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: row;
  flex: 1 1 auto;

  > div:last-of-type {
    flex: 1 1 auto;
    min-width: min(100vw, 390px);
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

    .logo {
      width: 100%;
      max-width: 300px;
      margin-bottom: 24px;
    }

    --amplify-internal-button-background-color: #fd7e14;
    --amplify-colors-primary-80: #fd7e14;
    --amplify-internal-button-background-color: #fd7e14;
    --amplify-components-button-primary-background-color: #fd7e14;
    --amplify-components-authenticator-router-border-color: #fd7e14;
    --amplify-colors-border-focus: #fd7e14;
    --amplify-components-tabs-item-active-color: #fd7e14;
    --amplify-components-tabs-item-active-border-color: #fd7e14;
    --amplify-components-button-primary-hover-background-color: #fbbc05;
    --amplify-components-button-primary-active-background-color: #fbbc05;
    --amplify-components-button-primary-focus-background-color: #fbbc05;
    --amplify-components-tabs-border-style: none;

    [data-amplify-router=''] {
      border-radius: 15px;
    }

    [role='tab'] {
      border: 0;
      border-style: none;
    }

    .tab {
      border-radius: 15%;
    }

    .amplify-button {
      background-color: #fd7e14;
      color: #fd7e14;
      border-color: #fd7e14;
    }
  }
}
