$horizontalPadding: 44px;
$width: 200px;
$totalSidebarSize: calc((#{$horizontalPadding} * 2) + #{$width});
$collapseSize: calc(((#{$horizontalPadding} * 2) + #{$width}) * -1);
$animationSpeed: 250ms;

.sidebar {
  position: relative;
  z-index: 3;
  flex: 0 1 auto;
  width: $totalSidebarSize;
  max-width: $totalSidebarSize;
  min-width: $totalSidebarSize;
  height: 100vh;
  padding: 48px $horizontalPadding 32px;
  background: #fff;
  transform: translateX(0);
  transition: margin-left $animationSpeed linear;
  box-shadow: 0 4px 7.8px 0 #0000001a;

  .toggler {
    position: absolute;
    top: 10px;
    right: -42px;
    width: 32px;
    height: 32px;
    border-top: 16px solid #b2b2b2;
    border-left: 16px solid #b2b2b2;
    transform: rotate(0deg);
    cursor: pointer;
    opacity: 0.25;
    transition: transform calc(#{$animationSpeed} - 100ms) ease-in-out,
      opacity calc(#{$animationSpeed} - 100ms) ease-in-out;

    &:hover {
      transform: rotate(45deg);
      opacity: 1;
    }
  }

  &.collapsed {
    margin-left: $collapseSize;

    .toggler {
      transform: rotate(90deg);

      &:hover {
        transform: rotate(45deg);
      }
    }
  }

  img {
    height: 40px;
    object-fit: contain; 
  }

  .logoImage {
    width: 100%;
    height: auto;
  }

  .linksBottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 48px;

    .externalLinks {
      padding-top: 10px;
      display: flex;
      align-items: center;

      img {
        padding-left: 2px;
        padding-right: 2px;
        width: 34px;
        height: 34px;
      }
    }

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        flex: 0 0 24px;
        width: 24px;
        object-fit: contain;
      }

      span {
        margin-left: 15px;
        color: #707070;
        font: normal normal 400 14px/20px Montserrat;
        border-bottom: 1px solid #fff0;
        transition: border-bottom 150ms ease-in-out;
      }

      &.active {
        span {
          color: #000;
        }

        pointer-events: none;
        user-select: none;
      }

      &:hover {
        span {
          border-bottom: thin solid #707070;
        }
      }
    }
  }

  .links {
    margin-top: 48px;

    .spacer {
      height: 20px;
      margin-bottom: 16px;
    }

    .link {
      background-color: #fafafa;
      border-color: #eaeaea;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-left: 20px;
    }

    .link,
    .spacer {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        flex: 0 0 24px;
        width: 24px;
        object-fit: contain;
      }

      span {
        margin-left: 15px;
        color: #707070;
        font: normal normal 600 14px/20px Montserrat;
        border-bottom: 1px solid #fff0;
        transition: border-bottom 150ms ease-in-out;
      }

      &.active {
        span {
          color: #000;
        }

        pointer-events: none;
        user-select: none;
      }

      &:hover {
        span {
          border-bottom: thin solid #707070;
        }
      }
    }
  }
}
