@use '../../../../styles/global';

.chat {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h1 {
    margin-bottom: 5px;
  }

  .input {
    position: absolute;
    bottom: 0;
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    margin: 5px;
    margin-left: 0;
    border-color: #bababa;
    border: 1px solid #bababa;

    input {
      flex: 1 1 auto;
      min-width: 0;
      padding: 5px;
      background: #fff;
      border-radius: 10px;
      margin-right: 5px;
      border: 0;
      outline: none;
      box-shadow: none;

      &::placeholder {
        color: #bababa;
      }
    }

    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .conversation {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: #fafafa;
    height: 100%;
    width: 100%;
    
    overflow: auto;

    .messages {
      margin-bottom: 50px;
      max-width: 900px;
      width: 100%;
    }

    .message {
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: right;
      justify-content: right;
      text-align: left;
      padding: 10px;
      background: #fafafa;

      .text {
        @include global.smallFont();
        text-align: left;
        border-radius: 10px;
        margin: 15px;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background: #fff0c5;
        border: 1px solid #eaeaea;
        width: fit-content;
      }
    }

    .ai {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      text-align: left;
      padding: 15px;
      background: #fafafa;
      border-radius: 10px;
      margin: 5px;
      width: 90%;

      .aiImage {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        position: relative;
        top: -20px;
        left: -30px;
      }

      .text {
        @include global.smallFont();
        border-radius: 10px;
        margin: 5px;
        padding-right: 20px;
        background: #fff;
        width: fit-content;

        .actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: right;
          width: 100%;
          padding: 5px;
          padding-bottom: 15px;

          img {
            width: auto;
            height: 26px;
            margin-right: 5px;
            position: relative;
            top: 0;
            left: 0;
            border-radius: 5px;
            border: 1px solid #fff;

            &:hover {
              cursor: pointer;
              border: 1px solid #bababa;
            }

            &:active {
              transform: translateY(2px);
            }
          }
        }

        code {
          overflow-y: auto;
          background: #f0f0f0;
          border-radius: 5px;
          padding: 5px;
          padding-left: 0;
          padding-right: 0;
        }

        table {
          width: 100%;
          border-collapse: collapse;

          th {
            border: 1px solid #bababa;
            padding: 5px;
          }

          td {
            border: 1px solid #bababa;
            padding: 5px;
          }
        }
      }
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
